<header>

  <h1 class="webpage-title">Cover Letter Template</h1>

  <nav class="navbar">
      <button type="button" id="create-resume-button">{{personName}}'s Resume</button>
  </nav>

</header>


<main id="{{font-type}}" class="{{colorSelected}}">

  <div class="intro-container {{personalTextSize}}">

      <div class="intro-text text-box">
        <h2>{{personName}}</h2>
      </div>

      <div class="intro-text text-box">
        <h2>{{streetAddress}},  {{city}},  {{state}}  {{zipCode}} </h2>
      </div>

      <div class="intro-text text-box">
        <h2>C : {{number}} || {{emailAddress}}</h2>
      </div>

  </div>

  <div class="line-break">
  </div>


  <article class="org-container {{orgTextSize}}">
    <div class="org-text text-box">
      <h2>{{date}}</h2>
    </div>

    <div class="org-text text-box">
      <h2>{{recipientName}}</h2>
    </div>

    <div class="org-text text-box">
      <h2>{{recipientTitle}}</h2>
    </div>

    <div class="org-text text-box">
      <h2>{{companyName}}</h2>
    </div>

    <div class="org-text text-box">
      <h2>{{recipientAddress}}, {{recipientCity}}, {{recipientState}} {{recipientZipCode}}</h2>
    </div>

    <div class="org-text end-text text-box">
      <h2>Dear {{recipientName}},</h2>
    </div>
  </article>

  <div class="summary-container {{summaryTextSize}}">
    <p>{{summaryText}}</p>
  </div>

  <div class="ending-container {{summaryTextSize}}">
    <div>
      <h2>Sincerely,</h2>
    </div>

    <div>
      <h2>{{personName}}</h2>
    </div>
  </div>

</main>
